body{
  background-color: aquamarine;
}
.container  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container ul{
  list-style: circle;
color: rgb(196, 116, 17);

}
input{
  margin-right: 10px;
  
}
button{
  width: 80px;
  background-color: brown;
  color: white;
}
li{
  display: flex;
  justify-content: space-between;
  width:175px;
  margin-bottom: 10px;
}